doctype html
html
  head
  title Curriculum JhovysZ
  meta(http-equiv='content-type' content='text/html; charset=utf-8')
  meta(name='keywords' content='')
  meta(name='description' content='')
  //link(rel='stylesheet' type='text/css' href='http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css' media='all')
  link(rel='stylesheet' type='text/css' href='stylesheets/resume.css' media='all')
  link(rel='stylesheet' type='text/css' href='stylesheets/style.css' media='all')
  
  body 
  
  
  block content
  #doc2.yui-t7
  #inner(style='background: #D4CA9A;')
    // cuadro grande
    #hd
      .yui-gc
        .yui-u.first
          h1(style="font-family: 'Lemon', cursive; color: #6E4A40")   Jhovanna Maldonado Gracia
        img#jh(src='images/jh.jpg' alt='jh' style='width:150px; height:225px; border-radius:150px; border:5 ')
      // // .yui-gc
    // // hd
    #bd
      #yui-main
        .yui-b
          .yui-gf
            .yui-u.first
              h2(style="font-family: 'Berkshire Swash', cursive; color: #002533;") CONTACTO
            br
            br
            br
            h3(style="font-family: 'Cookie', cursive; color: #2C3333;") Direccion
            .yui-u
              p.enlarge(style=' color: #496161;')
                | Marcos E. Moreno S/N
            br
            br
            br
            h3(style="font-family: 'Cookie', cursive; color: #2C3333;") Fecha de Nacimiento
            .yui-u
              p.enlarge(style='color: #496161;')
                | 06 de Julio 1996
            br
            br
            br
            h3(style="font-family: 'Cookie', cursive; color: #2C3333;") TELEFONO
            .yui-u
              p(style='color: #496161;')  &mdash;  (924) 1470415 
            br
            br
            br
            h3(style="font-family: 'Cookie', cursive; color: #2C3333;") E-MAIL
            .yui-u
              p.enlarge
              h3
                a(href='mailto:name@yourdomain.com' style='color: #496161;') jhova.nnam96@gmail.com
              br
              h3
                a(href='mailto:name@yourdomain.com' style='color: #496161;') maldo.nads96@gmail.com
              p
            br
            br
            br
            h1(style="font-family: 'Cookie', cursive; color: #2C3333;") SITIO WEB
            br
            .yui-u
              p.enlarge(style='color: #496161;')
                | Annavohj Maldonad&apos;s
          // // .yui-gf
          .yui-gf
            .yui-u.first
              h2(style="font-family: 'Berkshire Swash', cursive; color: #25383B;") SOBRE MI
            br
            br
            .yui-u
              p.enlarge(style='color: #496161;')
                | Actualmente estudio en el Instituto Tecnologico Superior de Acayucan, impartiendo la carrera ingenieria en sistemas computacionales, estoy en el octavo semestre.
          // // .yui-gf
          .yui-gf
            .yui-u.first
              h2(style="font-family: 'Berkshire Swash', cursive; color: #25383B;") AFICIONES
            .yui-u
              .talent
                p.enlarge(style="font-family: 'Cookie', cursive;")
                  | Futbol
                img#bal(src='images/balo.png' alt='bal' width='50' height='50')
              .talent
                p.enlarge(style="font-family: 'Cookie', cursive;")
                  | Gym
                img#gym(src='images/gym.png' alt='gym' width='50' height='50')
              .talent
                p.enlarge(style="font-family: 'Cookie', cursive;")
                  | Musica
                img#music(src='images/music.png' alt='music' width='50' height='50')
              .talent
                p.enlarge(style="font-family: 'Cookie', cursive;")
                  | Playa
                img#mar(src='images/mar.png' alt='mar' width='50' height='50')
          // // .yui-gf
          .yui-gf
            .yui-u.first
              h2(style="font-family: 'Berkshire Swash', cursive; color: #25383B;") HABILIDADES
            .yui-u
              ul.talent
                br
                li(style='color: #380B15;') 2013
                li Certificacion office 2010
                li.last
              ul.talent
                br
                li(style='color: #380B15;') 2014
                li Participacion del primer
                li.last(style='color: #496161;') congreso nacional de l&iacute;deres en tecnolog&iacute;as empresariales      
              ul.talent
                br
                li(style='color: #380B15;') 2015
                li Asistencia
                li.last(style='color: #496161;')     Taller Python
          // // .yui-gf
          .yui-gf
            .yui-u.first
              h2(style="font-family: 'Berkshire Swash', cursive; color: #25383B;") LENGUAJES
            .yui-u
              ul.talent
                br
                li(style='color: #2C3333;') ESPA&Ntilde;OL
                li(style='color: #496161;') 95%
                li.last
          // // .yui-gf
          .yui-gf
            .yui-u.first
              h2(style="font-family: 'Berkshire Swash', cursive; color: #25383B;") EDUCACI&Oacute;N
            // // .yui-u
            br
            br
            br
            .yui-u
              .job
                h2(style="font-family: 'Cookie', cursive; color: #2C3333;") KINDER
                h2(style=' color: #496161; ')  Ovidio de Croly
                h4(style='color: #380B15;') 1999 - 2002 
              .job
                h2(style="font-family: 'Cookie', cursive; color: #2C3333;") PRIMARIA
                h2(style=' color: #496161; ')  Cuitlahuac 
                h4(style='color: #380B15;') 2002 - 2008
              .job
                h2(style="font-family: 'Cookie', cursive; color: #2C3333;") SECUNDARIA
                h2(style='color: #496161; ')  Miguel Alem&aacute;n Gonz&aacute;lez
                h4(style='color: #380B15;') 2008 - 2011
              .job
                h2(style="font-family: 'Cookie', cursive; color: #2C3333;") PREPARATORIA
                h2(style=' color: #496161')  Plantel 104 Juan D&iacute;az Covarrubias 
                h4(style='color: #380B15;') 2011 - 2014
              .job
                h2(style="font-family: 'Cookie', cursive; color: #2C3333;") UNIVERSIDAD
                h2(style='color: #496161')  Instituto tecnologico superior de Acayucan 
                h4(style='color: #380B15;') 2014 - 2018
            // // .yui-u
          // // .yui-gf
          .yui-gf
            .yui-u.first
              h2(style="font-family: 'Berkshire Swash', cursive; color: #25383B;")  CONTACTOS DE EMERGENCIA 
            // // .yui-u
            .yui-u
              .job
                br
                br
                br
                br
                br
                h2(style='color: #2C3333;') Jos&eacute; Luis Maldonado Soto
                h2(style=' color: #496161') Pap&aacute;
                h3(style='color: #F30223;') 2941570107
              .job
                h2(style='color: #2C3333;')  Mar&iacute;a del Carmen Gracia Barrientos 
                h2(style='color: #496161; ')  Mam&aacute;
                h3(style='color: #F30223;') 8120298113
            // // .yui-u
          // // .yui-gf
        // // .yui-b
      // // yui-main
    // // bd
  // // doc
